.hero {
  height: 80vh;
}
.hero-left p {
  @apply text-7xl font-semibold;
}
.hero-latest-btn {
  width: 340px;
  height: 70px;
}
.hero-hand-icon img {
  width: 80px;
}
.hero-right img{
    width: 400px;
}