.footer_links li {
  cursor: pointer;
}
.footer-icons-container {
  padding: 20px;
  padding-bottom: 6px;
  background-color: white;
  border: 1px solid #ebebeb;
}
.footer-copyright {
  margin-bottom: 30px;
}
.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #c7c7c7;
}
